.wrapper{
    background-image: url(images/background.png);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: repeat;
}
.info{
    border-left: 6px solid #2196F3;
}

